<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangxin.dao.master.UserDao">
	<resultMap id="BaseResultMap" type="com.wangxin.pojo.User">
		<result column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="user_pwd" property="userPwd" />
	</resultMap>

	<parameterMap id="User" type="com.wangxin.pojo.User" />

	<sql id="Base_Column_List">
		id, user_name, user_pwd
	</sql>

	<select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where id = 1
	</select>

	<!-- 登录 -->
	<select id="login" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM user
		WHERE user_name = #{userName}
		AND user_pwd = #{userPwd}
	</select>

	<!-- 用户列表 -->
	<select id="getUserList" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM user
		LIMIT #{currentNum}, #{pageSize}
	</select>

	<!-- 用户列表数量 -->
	<select id="getUserListCount" resultType="java.lang.Integer">
		SELECT COUNT(1) as total
		FROM user
	</select>

</mapper>
